<header class="w-full relative border-b-[1px] border-darkblue">
  <div class="container">
    <div class="py-4 flex justify-between items-center">
      <ul class="flex gap-[70px] text-base leading-[21px] font-semibold z-10">
        <li>
          <a href="challenges">Challenges</a>
        </li>

        <li>
          <a href="#">Rules</a>
        </li>

        <li>
          <a href="juries">Jury</a>
        </li>
      </ul>

      <a href="/" class="absolute mx-auto left-0 right-0 text-center z-0">
        <img class="mx-auto" src="./../../assets/images/logo.svg" alt="3D Print Logo" width="44" height="40">
      </a>

      <div class="flex items-center gap-2.5">
        <a href="#" class="block p-3">
          <img src="./../../assets/images/facebook.svg" alt="fb" width="20" height="20">
        </a>

        <a href="#" class="block p-3">
          <img src="./../../assets/images/instagram.svg" alt="instagram" width="20" height="20">
        </a>

        <button class="button px-16">Login</button>
      </div>
    </div>
  </div>
</header>