<header class="w-full relative border-b-[1px] border-darkblue">
  <div class="container">
    <div class="py-4 flex justify-between items-center">
      <ul class="flex gap-[70px] text-base leading-[21px] font-semibold z-10">
        <li>
          <a href="challenges">Challenges</a>
        </li>

        <li>
          <a href="#">Rules</a>
        </li>

        <li>
          <a href="juries">Jury</a>
        </li>
      </ul>

      <a href="/" class="absolute mx-auto left-0 right-0 text-center z-0">
        <%= image_tag("logo.svg", size: "44x16", alt: "Edit Entry", class: "mx-auto") %>
      </a>

      <div class="flex items-center gap-2.5">
        <a href="#" class="block p-3">
          <%= image_tag("facebook.svg", size: "20x20", alt: "fb", class: "mx-auto") %>
        </a>

        <a href="#" class="block p-3">
          <%= image_tag("instagram.svg", size: "20x20", alt: "instagram", class: "mx-auto") %>
        </a>

        <button class="button px-16">Login</button>
      </div>
    </div>
  </div>
</header>